<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuteam7.www.vicidapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EncyclopediaLanding"
            android:label="@string/title_activity_encyclopedia_landing" >
        </activity>
        <activity
            android:name=".VoteLanding"
            android:label="@string/title_activity_vote_landing" >
        </activity>
        <activity
            android:name=".UploadLanding"
            android:label="@string/title_activity_upload_landing" >
        </activity>
        <activity
            android:name=".signIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
